@import url(https://fonts.googleapis.com/css?family=Julius+Sans+One:regular);
@import url(https://fonts.googleapis.com/css?family=Luckiest+Guy:regular);
@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);

body {
  background-color: #130e0e;
  color: lightgray;
  margin: 2vh;
  padding: 1vh;
  font-family: "Roboto", sans-serif;
}

.app-title {
  font-family: "Luckiest Guy", cursive;
  font-size: 3em;
  padding: 1vh;
  color: white;
}

#add-section {
  text-align: center;
  padding: 10px;
  width: 40vh;
  border: medium solid darkgray;
  display: inline-block;
  border-radius: 5px;
}

ul.todos {
  list-style: none;
  width: 40vh;
  border: medium solid darkgray;
  border-radius: 8px;
  padding: 10px;
}

.caption {
  width: 40vh;
  font-size: 2vh;
  text-align: center;
}
